@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

:root {
  --primary: rgb(41, 243, 243);
  --secondary: rgb(53, 50, 50);
}

* {
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background-color: rgba(7, 95, 95, 0.979);
}

h1 {
  font-weight: 700;
  color: var(--primary);
}

.title {
  margin: 50px 0;
  text-align: center;
}

.counter {
  text-align: center;
  width: 315px;
  color: var(--primary);
  background-color: var(--secondary);
  border: 6px solid var(--primary);
  border-radius: 5px;
}

.counter {
  width: 310px;
  color: var(--primary);
  background-color: var(--secondary);
  border: 3px solid var(--primary);
  border-radius: 10px;
}

.App {
  text-align: center;
}

.boxContainer {
  text-align: left;
}

.boxContainer, .datablock, .Calculator {
  display: inline-block;
  vertical-align: top;
  }

.flex {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#in {
  width: 155px;
  margin: 5px;
  padding: 15px;
  font-size: 22px;
}

#loggbutt {
  width: 155px;
  margin: 5px;
  padding: 15px;
  font-size: 22px;
  color: var(--primary);
  background-color: var(--secondary);
  border: 3px solid var(--primary);
  border-radius: 10px;
}



#ut {
  width: 155px;
  margin: 5px;
  padding: 15px;
  font-size: 22px;
}

#hidden{
visibility: hidden;
}
.datablock{
  text-align: center;
  display: inline-block;
  background-color: var(--secondary);
  border: 4px solid var(--primary);
  margin: 20px;
}

.Calculator {
  text-align: center;
  display: inline-block;
} 

.flex {
  margin: 20px 0;
  display: flexbox;
  justify-content: center;
  flex-wrap: wrap;
}

.buttons {
  width: 330px;
}

.buttons button {
  width: 100px;
  margin: 5px;
  padding: 15px;
  font-size: 22px;
}

.ops-btn button {
  margin: 0 14px;
  padding: 10px 21px;
  font-size: 30px;
}

.btn-style button {
  color: var(--primary);
  background-color: var(--secondary);
  border: 3px solid var(--primary);
  border-radius: 10px;
}

.btn-style button:hover {
  opacity: 80%;
  cursor: pointer;
}

footer p {
  color: white;
}

footer a {
  color: var(--primary);
}

footer a:hover {
  opacity: 75%;
}

h2{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}

h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}

table{
border: 2px solid var(--primary);
}


.tbl-content{
  height:100%;
  overflow: auto;
  max-height: 260px;
}
th{
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}
td{
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
}



/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 0px;
}

.hide{
  visibility: hidden;
}

.Timeslist{
  text-decoration: none;
  color: white;
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
